<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="left-side-menu" th:fragment="left_Bar_te">
    <div class="slimscroll-menu" id="left-side-menu-container">

        <a href="/welcome.html" class="logo text-center">
<span class="logo-lg">
<img src="assets/images/logo.png" alt="" height="16">
</span>
            <span class="logo-sm">
<img src="assets/images/logo_sm.png" alt="" height="16">
</span>
        </a>

        <ul class="metismenu side-nav">
            <li class="side-nav-title side-nav-item">Navigation</li>
            <li class="side-nav-item">
                <a href="/teacherInformation.html" class="side-nav-link">

                    <span> 个人空间 </span>

                </a>

            </li>


            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-view-apps"></i>
                    <span> 出题系统 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="apps-calendar.html">出试卷</a>
                    </li>
                    <li class="side-nav-item">++99999999
                        <a href="javascript: void(0);" aria-expanded="false">单个出题
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a href="/teacher_danxuan.html">单选题</a>
                            </li>
                            <li>
                                <a href="/teacher_tiankong.html">填空题</a>
                            </li>
                            <li>
                                <a href="/teacher_zhuguan.html">主观题</a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-copy"></i>
                    <span> Pages </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="pages-starter.html">Starter Page</a>
                    </li>
                    <li>
                        <a href="pages-profile.html">Profile</a>
                    </li>
                    <li>
                        <a href="pages-invoice.html">Invoice</a>
                    </li>
                    <li>
                        <a href="pages-faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="pages-pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="pages-maintenance.html">Maintenance</a>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" aria-expanded="false">Authentication
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a href="pages-login.html">Login</a>
                            </li>
                            <li>
                                <a href="pages-login-2.html">Login 2</a>
                            </li>
                            <li>
                                <a href="pages-register.html">Register</a>
                            </li>
                            <li>
                                <a href="pages-register-2.html">Register 2</a>
                            </li>
                            <li>
                                <a href="pages-logout.html">Logout</a>
                            </li>
                            <li>
                                <a href="pages-logout-2.html">Logout 2</a>
                            </li>
                            <li>
                                <a href="pages-recoverpw.html">Recover Password</a>
                            </li>
                            <li>
                                <a href="pages-recoverpw-2.html">Recover Password 2</a>
                            </li>
                            <li>
                                <a href="pages-lock-screen.html">Lock Screen</a>
                            </li>
                            <li>
                                <a href="pages-lock-screen-2.html">Lock Screen 2</a>
                            </li>
                            <li>
                                <a href="pages-confirm-mail.html">Confirm Mail</a>
                            </li>
                            <li>
                                <a href="pages-confirm-mail-2.html">Confirm Mail 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" aria-expanded="false">Error
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a href="pages-404.html">Error 404</a>
                            </li>
                            <li>
                                <a href="pages-404-alt.html">Error 404-alt</a>
                            </li>
                            <li>
                                <a href="pages-500.html">Error 500</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-browser"></i>
                    <span> Layouts </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="layouts-horizontal.html">Horizontal</a>
                    </li>
                    <li>
                        <a href="layouts-light-sidenav.html">Light Sidenav</a>
                    </li>
                    <li>
                        <a href="layouts-collapsed.html">Collapsed Sidenav</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="right-bar-toggle">Right Sidebar</a>
                    </li>
                    <li>
                        <a href="layouts-boxed-vertical.html">Boxed Vertical</a>
                    </li>
                    <li>
                        <a href="layouts-boxed-horizontal.html">Boxed Horizontal</a>
                    </li>
                    <li>
                        <a href="layouts-scrollable-sidenav.html">Scrollable Sidenav</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-title side-nav-item mt-1">Components</li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-briefcase"></i>
                    <span> UI Kit </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="ui-cards.html">Cards</a>
                    </li>
                    <li>
                        <a href="ui-buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="ui-modals.html">Modals</a>
                    </li>
                    <li>
                        <a href="ui-tabs.html">Tabs</a>
                    </li>
                    <li>
                        <a href="ui-notifications.html">Notifications</a>
                    </li>
                    <li>
                        <a href="ui-grid.html">Grid</a>
                    </li>
                    <li>
                        <a href="ui-general.html">General</a>
                    </li>
                    <li>
                        <a href="ui-typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="ui-icons.html">Icons</a>
                    </li>
                    <li>
                        <a href="ui-spinners.html">Spinners</a>
                    </li>
                    <li>
                        <a href="ui-dragula.html">Dragula</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="widgets.html" class="side-nav-link">
                    <i class="dripicons-heart"></i>
                    <span class="badge badge-light float-right">New</span>
                    <span> Widgets </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-document"></i>
                    <span> Forms </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="form-elements.html">Basic Elements</a>
                    </li>
                    <li>
                        <a href="form-advanced.html">Form Advanced</a>
                    </li>
                    <li>
                        <a href="form-validation.html">Validation</a>
                    </li>
                    <li>
                        <a href="form-wizard.html">Wizard</a>
                    </li>
                    <li>
                        <a href="form-fileuploads.html">File Uploads</a>
                    </li>
                    <li>
                        <a href="form-editors.html">Editors</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-graph-pie"></i>
                    <span> Charts </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="charts-chartjs.html">Chartjs</a>
                    </li>
                    <li>
                        <a href="charts-brite.html">Britecharts</a>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" aria-expanded="false">Apex Charts
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a href="charts-apex-line.html">Line</a>
                            </li>
                            <li>
                                <a href="charts-apex-area.html">Area</a>
                            </li>
                            <li>
                                <a href="charts-apex-column.html">Column</a>
                            </li>
                            <li>
                                <a href="charts-apex-bar.html">Bar</a>
                            </li>
                            <li>
                                <a href="charts-apex-mixed.html">Mixed</a>
                            </li>
                            <li>
                                <a href="charts-apex-bubble.html">Bubble</a>
                            </li>
                            <li>
                                <a href="charts-apex-scatter.html">Scatter</a>
                            </li>
                            <li>
                                <a href="charts-apex-pie.html">Pie</a>
                            </li>
                            <li>
                                <a href="charts-apex-radialbar.html">RadialBar</a>
                            </li>
                            <li>
                                <a href="charts-apex-heatmap.html">Heatmap</a>
                            </li>
                            <li>
                                <a href="charts-apex-sparklines.html">Sparklines</a>
                            </li>
                            <li>
                                <a href="charts-apex-candlestick.html">Candlestick</a>
                            </li>
                            <li>
                                <a href="charts-apex-radar.html">Radar</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="charts-sparkline.html">Sparklines</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-list"></i>
                    <span> Tables </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="tables-basic.html">Basic Tables</a>
                    </li>
                    <li>
                        <a href="tables-datatable.html">Data Tables</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-location"></i>
                    <span> Maps </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="maps-google.html">Google Maps</a>
                    </li>
                    <li>
                        <a href="maps-vector.html">Vector Maps</a>
                    </li>
                </ul>
            </li>
        </ul>


        <div class="clearfix"></div>
    </div>

</div>


<!--管理员-->
<div class="left-side-menu" th:fragment="left_Bar_admin">
    <div class="slimscroll-menu" id="left-side-menu-container1">

        <a href="/welcome.html" class="logo text-center">
            <span class="logo-lg">
                <img src="assets/images/logo.png" alt="" height="16">
            </span>

            <span class="logo-sm">
                <img src="assets/images/logo_sm.png" alt="" height="16">
            </span>
        </a>

        <ul class="metismenu side-nav">
            <li class="side-nav-title side-nav-item">Navigation</li>

            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-view-apps"></i>
                    <span> 身份审核 </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="examineStudent.html">学生身份审核</a>
                    </li>

                    <li>
                        <a href="examineTeacher.html">教师身份审核</a>
                    </li>

                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-copy"></i>
                    <span> Pages </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="pages-starter.html">Starter Page</a>
                    </li>
                    <li>
                        <a href="pages-profile.html">Profile</a>
                    </li>
                    <li>
                        <a href="pages-invoice.html">Invoice</a>
                    </li>
                    <li>
                        <a href="pages-faq.html">FAQ</a>
                    </li>
                    <li>
                        <a href="pages-pricing.html">Pricing</a>
                    </li>
                    <li>
                        <a href="pages-maintenance.html">Maintenance</a>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" aria-expanded="false">Authentication
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a href="pages-login.html">Login</a>
                            </li>
                            <li>
                                <a href="pages-login-2.html">Login 2</a>
                            </li>
                            <li>
                                <a href="pages-register.html">Register</a>
                            </li>
                            <li>
                                <a href="pages-register-2.html">Register 2</a>
                            </li>
                            <li>
                                <a href="pages-logout.html">Logout</a>
                            </li>
                            <li>
                                <a href="pages-logout-2.html">Logout 2</a>
                            </li>
                            <li>
                                <a href="pages-recoverpw.html">Recover Password</a>
                            </li>
                            <li>
                                <a href="pages-recoverpw-2.html">Recover Password 2</a>
                            </li>
                            <li>
                                <a href="pages-lock-screen.html">Lock Screen</a>
                            </li>
                            <li>
                                <a href="pages-lock-screen-2.html">Lock Screen 2</a>
                            </li>
                            <li>
                                <a href="pages-confirm-mail.html">Confirm Mail</a>
                            </li>
                            <li>
                                <a href="pages-confirm-mail-2.html">Confirm Mail 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" aria-expanded="false">Error
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a href="pages-404.html">Error 404</a>
                            </li>
                            <li>
                                <a href="pages-404-alt.html">Error 404-alt</a>
                            </li>
                            <li>
                                <a href="pages-500.html">Error 500</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-browser"></i>
                    <span> Layouts </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="layouts-horizontal.html">Horizontal</a>
                    </li>
                    <li>
                        <a href="layouts-light-sidenav.html">Light Sidenav</a>
                    </li>
                    <li>
                        <a href="layouts-collapsed.html">Collapsed Sidenav</a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="right-bar-toggle">Right Sidebar</a>
                    </li>
                    <li>
                        <a href="layouts-boxed-vertical.html">Boxed Vertical</a>
                    </li>
                    <li>
                        <a href="layouts-boxed-horizontal.html">Boxed Horizontal</a>
                    </li>
                    <li>
                        <a href="layouts-scrollable-sidenav.html">Scrollable Sidenav</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-title side-nav-item mt-1">Components</li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-briefcase"></i>
                    <span> UI Kit </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="ui-cards.html">Cards</a>
                    </li>
                    <li>
                        <a href="ui-buttons.html">Buttons</a>
                    </li>
                    <li>
                        <a href="ui-modals.html">Modals</a>
                    </li>
                    <li>
                        <a href="ui-tabs.html">Tabs</a>
                    </li>
                    <li>
                        <a href="ui-notifications.html">Notifications</a>
                    </li>
                    <li>
                        <a href="ui-grid.html">Grid</a>
                    </li>
                    <li>
                        <a href="ui-general.html">General</a>
                    </li>
                    <li>
                        <a href="ui-typography.html">Typography</a>
                    </li>
                    <li>
                        <a href="ui-icons.html">Icons</a>
                    </li>
                    <li>
                        <a href="ui-spinners.html">Spinners</a>
                    </li>
                    <li>
                        <a href="ui-dragula.html">Dragula</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="widgets.html" class="side-nav-link">
                    <i class="dripicons-heart"></i>
                    <span class="badge badge-light float-right">New</span>
                    <span> Widgets </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-document"></i>
                    <span> Forms </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="form-elements.html">Basic Elements</a>
                    </li>
                    <li>
                        <a href="form-advanced.html">Form Advanced</a>
                    </li>
                    <li>
                        <a href="form-validation.html">Validation</a>
                    </li>
                    <li>
                        <a href="form-wizard.html">Wizard</a>
                    </li>
                    <li>
                        <a href="form-fileuploads.html">File Uploads</a>
                    </li>
                    <li>
                        <a href="form-editors.html">Editors</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-graph-pie"></i>
                    <span> Charts </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="charts-chartjs.html">Chartjs</a>
                    </li>
                    <li>
                        <a href="charts-brite.html">Britecharts</a>
                    </li>
                    <li class="side-nav-item">
                        <a href="javascript: void(0);" aria-expanded="false">Apex Charts
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="side-nav-third-level" aria-expanded="false">
                            <li>
                                <a href="charts-apex-line.html">Line</a>
                            </li>
                            <li>
                                <a href="charts-apex-area.html">Area</a>
                            </li>
                            <li>
                                <a href="charts-apex-column.html">Column</a>
                            </li>
                            <li>
                                <a href="charts-apex-bar.html">Bar</a>
                            </li>
                            <li>
                                <a href="charts-apex-mixed.html">Mixed</a>
                            </li>
                            <li>
                                <a href="charts-apex-bubble.html">Bubble</a>
                            </li>
                            <li>
                                <a href="charts-apex-scatter.html">Scatter</a>
                            </li>
                            <li>
                                <a href="charts-apex-pie.html">Pie</a>
                            </li>
                            <li>
                                <a href="charts-apex-radialbar.html">RadialBar</a>
                            </li>
                            <li>
                                <a href="charts-apex-heatmap.html">Heatmap</a>
                            </li>
                            <li>
                                <a href="charts-apex-sparklines.html">Sparklines</a>
                            </li>
                            <li>
                                <a href="charts-apex-candlestick.html">Candlestick</a>
                            </li>
                            <li>
                                <a href="charts-apex-radar.html">Radar</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="charts-sparkline.html">Sparklines</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-list"></i>
                    <span> Tables </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="tables-basic.html">Basic Tables</a>
                    </li>
                    <li>
                        <a href="tables-datatable.html">Data Tables</a>
                    </li>
                </ul>
            </li>
            <li class="side-nav-item">
                <a href="javascript: void(0);" class="side-nav-link">
                    <i class="dripicons-location"></i>
                    <span> Maps </span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="side-nav-second-level" aria-expanded="false">
                    <li>
                        <a href="maps-google.html">Google Maps</a>
                    </li>
                    <li>
                        <a href="maps-vector.html">Vector Maps</a>
                    </li>
                </ul>
            </li>
        </ul>


    </div>

</div>

</body>
</html>