<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--显示试卷Table-->

<div th:fragment="shijuan">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <p class="text-muted font-14 mb-4">
                        <button type="button" id="toastr-three1">
                        </button>
                        <button type="button" id="toastr-three2">
                        </button>
                        <button type="button" id="toastr-three3">
                        </button>

                        <button type="button" id="toastr-four1">
                        </button>
                        <button type="button" id="toastr-four2">
                        </button>
                        <button type="button" id="toastr-four3">
                        </button>
                    </p>
                    <p class="text-muted font-14 mb-4">

                    <div class="form-group">
                        <input width="300px" type="text" class="form-control date" id="daterangetime"
                               data-toggle="date-picker"
                               data-time-picker="true" data-locale="{'format': 'DD/MM hh:mm A'}">
                    </div>
                    </p>
                    <form class="form-inline">


                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="名字">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="kemu" placeholder="科目">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="chutiren" placeholder="出题人ID">
                        </div>


                        <button type=button class="btn btn-success" id="searchButton"> 条 件 查 询</button>
                        <button type=button class="btn btn-warning" id="clearSearchButton"> 清 空 条 件</button>
                    </form>

                    <p class="text-muted font-14 mb-4">
                        <button onclick="ceshi()">测试</button>
                    </p>


                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#AddModal"> 手动出题
                    </button>


                    <p class="text-muted font-14 mb-4">

                    </p>

                    <table id="xx" class="table table-striped dt-responsive nowrap"
                           width="100%">
                        <thead>
                        <tr>
                            <th>考试码-ID</th>
                            <th>考试名称</th>
                            <th>开始时间</th>
                            <th>结束时间</th>


                            <th>分值</th>
                            <th>出题人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--添加新试卷-->
<div id="AddModal"
     th:fragment="AddModal"
     class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">添加新题</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="guanbi1">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form id="tianjiatable">
                    <div class="form-group mb-3">
                        <label for="ADDname">考试名</label>
                        <input type="text" id="ADDname" name="name"
                               class="form-control form-control-sm">
                    </div>


                    <label for="birthdatepickerBegin">开始时间</label>
                    <div class="input-group">

                        <input type="text" class="form-control date" id="birthdatepickerBegin"
                               data-toggle="date-picker" data-single-date-picker="true">
                        <input type="text" class="form-control"
                               id="TimeBegin"
                               data-toggle='timepicker'
                               data-show-meridian="false">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="dripicons-clock"></i></span>
                        </div>
                    </div>


                    <label for="birthdatepickerEnd">结束时间</label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control date"
                               id="birthdatepickerEnd"
                               data-toggle="date-picker"
                               data-single-date-picker="true">
                        <input type="text"
                               id="TimeEnd"
                               class="form-control" data-toggle='timepicker'
                               data-show-meridian="false">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="dripicons-clock"></i></span>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" onclick="tijiaoButton()">提交</button>
            </div>
        </div>
    </div>
</div>

<!--修改-->
<div id="UpModal"
     th:fragment="UpModal"
     class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">修改</h4>
                <button type="button"
                        id="guanbi2"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form id="xiugaitable">

                    <div class="form-group mb-3">
                        <label for="Upid">ID</label>
                        <input onfocus="this.blur();"
                               type="text" id="Upid" name="id"
                               class="form-control form-control-sm">
                    </div>


                    <div class="form-group mb-3">
                        <label for="UPname">考试名</label>
                        <input type="text"
                               id="UPname"
                               name="name"
                               class="form-control form-control-sm">
                    </div>

                    <p id="ce">ce</p>

                    <label for="birthdatepickerBegin">开始时间</label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               data-provide="datepicker"
                               id="UpbirthdatepickerBegin"

                        >

                        <input type="text"
                               class="form-control"
                               id="UpTimeBegin"
                               data-toggle='timepicker'
                               data-show-meridian="false">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="dripicons-clock">
                                </i>
                            </span>
                        </div>
                    </div>


                    <label for="birthdatepickerEnd">结束时间</label>
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               data-provide="datepicker"
                               id="UpbirthdatepickerEnd"

                        >


                        <input type="text"
                               id="UpTimeEnd"
                               class="form-control" data-toggle='timepicker'
                               data-show-meridian="false">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="dripicons-clock"></i></span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">离开
                </button>
                <button type="button" class="btn btn-primary" onclick="Up()">提交</button>
            </div>
        </div>
    </div>
</div>

<!--删除-->
<div id="DelModal"
     th:fragment="DelModal"
     class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel3">删除</h4>
                <button type="button" id="guanbi3" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="topModalLabel">是否删除id为<span id="zhi"></span>的信息</h4>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">离开
                </button>
                <button type="button" class="btn btn-primary" onclick="del()">删除</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>