<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div th:fragment="zhuguanti">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <p class="text-muted font-14 mb-4">
                        <button type="button" id="toastr-three1">
                        </button>
                        <button type="button" id="toastr-three2">
                        </button>
                        <button type="button" id="toastr-three3">
                        </button>

                        <button type="button" id="toastr-four1">
                        </button>
                        <button type="button" id="toastr-four2">
                        </button>
                        <button type="button" id="toastr-four3">
                        </button>
                    </p>


                    <form class="form-inline">

                        <div class="form-group">
                            <input type="text" class="form-control" id="kemu" placeholder="科目">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="timu" placeholder="题目">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="chutiren" placeholder="出题人ID">
                        </div>

                        <button type=button class="btn btn-success" id="searchButton"> 条 件 查 询</button>
                        <button type=button class="btn btn-warning" id="clearSearchButton"> 清 空 条 件</button>
                    </form>

                    <p class="text-muted font-14 mb-4">
                    </p>

                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#AddModal"> 添加新题
                    </button>

                    <p class="text-muted font-14 mb-4">
                    </p>
                    <table id="xx" class="table table-striped dt-responsive nowrap" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>科目</th>
                            <th>题目</th>

                            <th>参考答案</th>

                            <th>分 值</th>
                            <th>出题人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--添加新题-->
<div id="AddModal"
     th:fragment="AddModal"
     class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">添加新题</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="guanbi1">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form id="tianjiatable">
                    <div class="form-group mb-3">
                        <label for="">科目</label>
                        <input type="text" id="" name="kemu"
                               class="form-control form-control-sm">
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-input-normal">题目</label>
                        <input type="text" id="example-input-normal" name="timu"
                               class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="referenceanswer">参考答案</label>
                        <input type="text" id="referenceanswer" name="referenceanswer"
                               class="form-control form-control-lg">
                    </div>

                    <div class="form-group mb-3">
                        <label for="fenzhi">分值</label>
                        <input type="number" id="fenzhi"
                               name="fenzhi"
                               class="form-control form-control-lg">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" onclick="tijiaoButton()">提交</button>
            </div>
        </div>
    </div>
</div>

<!--修改-->
<div id="UpModal"
     th:fragment="UpModal"
     class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel2">修改</h4>
                <button type="button"
                        id="guanbi2"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-body">
                <form id="xiugaitable">
                    <div class="form-group mb-3">
                        <label for="">ID</label>
                        <input type="text" id="Upid"
                               onfocus="this.blur();"
                               name="id"
                               class="form-control form-control-sm">
                    </div>
                    <div class="form-group mb-3">
                        <label for="Upkemu">科目</label>
                        <input type="text" id="Upkemu" name="kemu"
                               class="form-control form-control-sm">
                    </div>
                    <div class="form-group mb-3">
                        <label for="Uptimu">题目</label>
                        <input type="text" id="Uptimu" name="timu"
                               class="form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="Upreferenceanswer">参考答案</label>
                        <input type="text" id="Upreferenceanswer" name="referenceanswer"
                               class="form-control form-control-lg">
                    </div>
                    <div class="form-group mb-3">
                        <label for="Upfenzhi">分值</label>
                        <input type="number" id="Upfenzhi"
                               name="fenzhi"
                               class="form-control form-control-lg">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">离开
                </button>
                <button type="button" class="btn btn-primary" onclick="Up()">提交</button>
            </div>
        </div>
    </div>
</div>

<!--删除-->
<div id="DelModal"
     th:fragment="DelModal"
     class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel3">删除</h4>
                <button type="button" id="guanbi3" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="topModalLabel">是否删除id为<span id="zhi"></span>的信息</h4>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">离开
                </button>
                <button type="button" class="btn btn-primary" onclick="del()">删除</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>