<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<input type="checkbox" id="all" />全选<br />
<input type="checkbox" name="sub" />image1.jpg<br />
<input type="checkbox" name="sub"/>image2.jpg<br />
<input type="checkbox" name="sub"/>image3.jpg<br />
<input type="checkbox" name="sub"/>image4.jpg<br />

<script src="jquery.js"></script>

<script type="text/javascript">
    $("#all").on('click',function() {
        $("input[name='sub']").prop("checked", this.checked);
    });

    $("input[name='sub']").on('click',function() {
        var $subs = $("input[name='sub']");
        $("#all").prop("checked" , $subs.length == $subs.filter(":checked").length ? true :false);
    });
</script>
</body>
</html>