<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ajax图片上传</title>
</head>
<body>
<div>
    <input id="file" type="file" />
    <button id="showFile">wjtjcsndmy</button>
</div>

<br>
<img src = "/getImgById?id=1">

</body>


<script src="jquery.js"></script>
<script>
    $("#showFile").on("click",function(){
        var file = $("#file")[0].files[0];
        console.log(file);

        var formData = new FormData();
        formData.append("file",file);

        $.ajax({
            url : "/addImg",
            data : formData,
            type : "post",
            processData:false,
            contentType:false,
            success: function(res){
                console.log(res);
            },
            error:function(){
                console.log("Hello Error!");
            }
        })

    })
</script>
</html>
