<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>教师空间</title>


    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link href="assets/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/vendor/responsive.bootstrap4.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/vendor/buttons.bootstrap4.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/vendor/select.bootstrap4.css" rel="stylesheet" type="text/css"/>


    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css"/>


</head>


<!--此处页面为教师个人空间-->

<!--点击修改信息，表单变为可编辑，按钮变为提交按钮-->


<body>

<!--model-->


<div class="wrapper">

    <!--左侧栏==-->
    <div th:replace="Page_Component/LeftToolbar.html ::left_Bar_te"></div>


    <div class="content-page">
        <div class="content">


            <!--导航1(个人)-->
            <div th:replace="Welcome_Component/NavigationBar.html ::welcome_Bar_1"></div>


            <!--出题部分-->
            <!--主官题-->
            <div th:replace="Teacher/title/zhuguan.html ::zhuguanti"></div>


        </div>
    </div>

    <!--底部信息-->
    <div th:replace="Page_Component/Footer_Component.html ::footer_component_welcome"></div>


</div>

<!--退出model框-->
<span th:replace="Model/Logout.html :: LogOutModel"></span>



<script src="assets/js/app.min.js"></script>

<script src="assets/js/vendor/jquery.dataTables.min.js"></script>
<script src="assets/js/vendor/dataTables.bootstrap4.js"></script>
<script src="assets/js/vendor/dataTables.responsive.min.js"></script>
<script src="assets/js/vendor/responsive.bootstrap4.min.js"></script>
<script src="assets/js/vendor/dataTables.buttons.min.js"></script>
<script src="assets/js/vendor/buttons.bootstrap4.min.js"></script>
<script src="assets/js/vendor/buttons.html5.min.js"></script>
<script src="assets/js/vendor/buttons.flash.min.js"></script>
<script src="assets/js/vendor/buttons.print.min.js"></script>
<script src="assets/js/vendor/dataTables.keyTable.min.js"></script>
<script src="assets/js/vendor/dataTables.select.min.js"></script>


<script src="assets/js/pages/demo.datatable-init.js"></script>

<script src="teacher_zhuguan.js"></script>

</body>
</html>